/* Gallery Styling */

.gallery .th {
	float: left;
	margin: 0 20px 10px 0;
}

.large-6,
.large-3 {
	-moz-transition: width .25s .5s;
	-webkit-transition: width .25s .5s;
	transition: width .25s .5s;
}

/* Wireframing Font */
@font-face {
    font-family: 'redactedregular';
    src: url('../font/redacted-regular.eot');
    src: url('../font/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/redacted-regular.woff') format('woff'),
         url('../font/redacted-regular.ttf') format('truetype'),
         url('../font/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 
p, h3, a {
	font-family: 'redactedregular';
}
*/
h1 {
    padding: 0 0 50px 0;
}
.button {
    background-color: #00bfa8;
    color: #444444;
}

.button:hover {
    background-color: #fdf485;
}

.lb-container {
    height: 500px;
    width: 500px;
    border: none;
}

.lb-outerContainer {
    width: 500px;
}


div.lb-nav {
    height: 510px;
    width: 510px;
}

